# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
.Python

# FastAPI/Starlette
instance/
*.db
*.sqlite3

# VS Code/PyCharm
.vscode/
.idea/

# OS files
.DS_Store

# Test and coverage
htmlcov/
.tox/
.coverage
.cache/
.pytest_cache/

# Logs
*.log

# Migrations
alembic/

# add ignor files for a vue project
# Node modules
node_modules/
# Build output
dist/
# Logs
npm-debug.log*
# Dependency directories
jspm_packages/
# Optional npm cache directory
.npm/
# Optional eslint cache
.eslintcache
# Optional REPL history
.repl_history
# Optional VS Code extensions
.vscode-test/
# Optional cache directories
.cache-loader/
# Optional build directories
build/
# Optional coverage directory
coverage/
# Optional environment variables
.env.local
# Optional Docker files
.docker/
# Optional Yarn files
.yarn/
# Optional pnpm files
.pnpm/
# Optional Nuxt.js files
localhost-key.pem
localhost.pem
package-lock.json