PROJECT_NAME=GregAI
POSTGRES_SERVER=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

JWT_SECRET_KEY

FRONTEND_HOST=
ENVIRONMENT=development
BACKEND_CORS_ORIGINS=
SMTP_TLS=
SMTP_SSL=
SMTP_PORT=
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=
EMAILS_FROM_NAME=
EMAIL_TEST_USER=
FIRST_SUPERUSER=
FIRST_SUPERUSER_PASSWORD=
SECRET_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# === Microsoft OAuth Credentials ===
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=


FRONTEND_URL=

LOG_URL=
LOG_SOURCE_ID=
LOG_SOURCE_TOKEN=